<form [formGroup]="modalForm" *ngIf="regCheck === false">
  <h2 style="text-align: center; color: rgba(0,0,0,0.5); margin-bottom: 20px;">Sign In</h2>

  <mat-form-field style="margin-bottom: 20px; width: 100%;" [@fadeInDown]="{ value: fadeInDown, params: { timing: 0.3, delay: 0 } }">
    <input matInput placeholder="Enter your email" formControlName="email" required>
    <mat-error *ngIf="modalForm.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>

  <mat-form-field style="margin-bottom: 20px; width: 100%;" [@fadeInDown]="{ value: fadeInDown, params: { timing: 0.4, delay: 0 } }">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="modalForm.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>

  <div mat-dialog-actions style="justify-content: space-between;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="modalForm" cdkFocusInitial [disabled]="modalForm.invalid">Ok</button>
  </div>

  <hr style="margin: 2rem 0 0 0;">
  <p style="font-size: 12px; margin-top: 10px; margin-bottom: 0; text-align: center;">
    Don't have a account?
    <b (click)="registration()" style="cursor: pointer; color: #1db4bd;">REGISTER HERE</b>
  </p>
</form>


<form [formGroup]="modalFormReg" *ngIf="regCheck === true">
  <h2 style="text-align: center; color: rgba(0,0,0,0.5); margin-bottom: 20px;">Registration</h2>

  <mat-form-field style="margin-bottom: 20px; width: 100%;" [@fadeInDown]="{ value: fadeInDown, params: { timing: 0.3, delay: 0 } }">
    <input matInput placeholder="Enter your name" formControlName="name" required>
    <mat-error *ngIf="modalFormReg.controls['name'].invalid">{{getErrorMessageName()}}</mat-error>
  </mat-form-field>

  <mat-form-field style="margin-bottom: 20px; width: 100%;" [@fadeInDown]="{ value: fadeInDown, params: { timing: 0.4, delay: 0 } }">
    <input matInput placeholder="Enter your email" formControlName="email" required>
    <mat-error *ngIf="modalFormReg.controls['email'].invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>

  <mat-form-field style="margin-bottom: 20px; width: 100%;" [@fadeInDown]="{ value: fadeInDown, params: { timing: 0.5, delay: 0 } }">
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
    <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="modalFormReg.controls['password'].invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>

  <div mat-dialog-actions style="justify-content: space-between;">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="modalFormReg" cdkFocusInitial [disabled]="modalFormReg.invalid">Ok</button>
  </div>

  <hr style="margin: 2rem 0 0 0;">
  <p style="font-size: 12px; margin-top: 10px; margin-bottom: 0; text-align: center;">
    Already have an account?
    <b (click)="signIn()" style="cursor: pointer; color: #1db4bd;">SIGN IN HERE</b>
  </p>
</form>